h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
b,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
.font-monument {
  font-family: "MonumentExtended";
}

a,
p,
span,
b,
ul,
li,
figcaption,
strong {
  font-family: "Montserrat";
}

h1 {
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: .1em;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #F1F1F1;
  -webkit-text-fill-color: transparent;
  text-stroke-width: .1px;
  text-stroke-color: #F1F1F1;
  text-fill-color: transparent;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 45px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border: 0;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #120f11;
  border: 0;
  border-radius: 0px;
}

@import './variables.scss';
@import './fonts.scss';