@font-face {
  font-family: 'Montserrat';
  src: url("@/assets/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('@/assets/fonts/MonumentExtended-Regular.otf') format('truetype');
}